[Unit]
Description="Watchdog to start Steamlink"
After=graphical.target
#ConditionPathExists=/tmp/steamlink.watchdog

[Service]
Type=oneshot
ExecStart=/storage/.kodi/addons/plugin.program.steamlink/resources/start.sh

[Install]
WantedBy=graphical.target
